{% extends "base.html" %}
{% block title %}Weather for {{ city_name }}{% endblock %}
{% block content %}
    <h1>Weather Forecast for {{ city_name }}</h1>
    <p>Coordinates: {{ coordinates }}</p>
    <p>Sunrise: {{ sunrise }} Sunset: {{ sunset }}</p>
    <br>
    <h2>Current Weather</h2>
    <img src="{{ current_icon }}"
         alt="{{ current_conditions }}"
         width=100px
         height=auto/>
    <h3>{{ current_temp }}&#176;C {{ current_conditions }}</h3>
    <p>Feels Like: {{ feels_like }}&#176;C</p>
    <p>Wind: {{ wind_speed }} km/h {{ wind_direction }}</p>
    <p>Humidity: </p>
    <br>
    <p>Last Updated: {{ last_updated }}</p>
{% endblock %}